mixin CardPool(title, percent, total, invested, claimable)
    article.card-pool&attributes(attributes)
        div.__row
            h4.__title= title
            p.__permonth
                span= percent 
                | % per month
        p.__info 
            | Total staked: 
            span= total
        p.__info
            | Your invest: 
            span= invested
        p.__info
            | Claimable:
            span= claimable
        +Button(
            "claimButton",
            "xs",
            "surface",
            "true"
        ).__button
            | Claim
        +Button(
            "stakeButton",
            "xs",
            "surface",
            "true"
        ).__button
            | Stake